:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

p {
  margin-top: .5em;
  font-size: var(--font-size-sm);
}

.wrapper {
  max-width: 25em;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 3%;
}




/* Header & Nav */

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #f9f9f9;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.logo img {
  width: 10em;
}

nav ul {
  list-style-type: none;
  padding-left: auto;
  display: flex;
}

nav ul li {
  padding-right: 1.125em;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: black;
}




/* Headers */

h1 {
  font-size: var( --font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
  text-align: center;
}

h4 {
  font-size: var(--font-size-sm);
}




/* Grid #1 */

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.items #span-item {
  grid-column: 1 / 4;
}




/* Featured Item Text */
#featured > div {
  padding-bottom: 1em;
  border-bottom: 3px solid #f9f9f9;
  padding: 1em;
}

div {
  padding-bottom: 1em;
}

#featured h2 {
  font-weight: 300;
  margin-bottom: 0;
}

#featured h4 {
  margin-top: 0em;
}

#featured p {
  margin-top: 0em;
}

#featured,
.subheader {
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

.button-1 {
  background-color: black;
  color: white;
  width: 8em;
  font-size: var(--font-size-sm);
  padding: .5em;
  border-radius: .4em;
}


/* Behind the Dough */

#dough div {
  padding-bottom: 2em;
  padding: 1em;

}




/* Opinions/Reviews */

#opinions {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  color: white;
}

#opinions cite {
  font-size: var(--font-size-base);
  margin-bottom: 1;
}



/* Grid #2 */

.dough-flavours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em; 
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  border-bottom: 3px solid #f9f9f9;
}

.dough-flavours #span-item {
  grid-column: 1 / 4;
  
}

.dough-flavors h3 {
  font-weight: 200;
    text-size-adjust: var(--font-size-md);

}

.dough-flavours p {
  text-align: center;
}



/* Footer */

footer {
  padding-top: 2em;
  padding-bottom: 1.5em;
  text-align: center;
}



/* 768 Width Screen */

@media (min-width: 48em) {
  
  .wrapper {
    max-width: 48em;
    margin: 0 auto;
  }

  .logo img {
    width: 14em;
  }

  .items {
    grid-template-columns: 1fr 1fr;
  }

  .items #span-item{
    grid-column: 1 / 2;
  }

  #featured {
    padding-left: 1em;
    padding-right: 1em;
  }

  #intro div {
    display: flex;
  }
  
  #opinions div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
  }

  #dough > div {
    display: flex;
    gap: 2em;
    padding: 1em;
    padding-bottom: 3em;
  }

  .dough-flavours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }




/* 960 Width Screen */

@media (min-width: 60em) {

  .wrapper {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
  }

  .logo img {
    width: 12em;
  }

  .items {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .items img {
    min-width: 100%;
    object-fit: cover;
  }

  #featured div {
    display: flex;
  }

  #dough > div {
    display: flex;
    gap: 2em; 
  }

  
}


/* Full Width Widescreen */

@media (min-width: 80em) {

  .wrapper {
    max-width: 80em;
    margin: 0 auto;
    padding-left: 20em;
    padding-right: 20em
  }


}